body {
  font: 12px/1.5 Tahoma, "Microsoft Yahei", "Simsun";
  background-color: #eee;
}

.head-size {
  height: 70px;
  padding: 10px;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.bg-white {
  background-color: #fff;
}

.footer {
  margin-top: 20px;
  padding: 15px;
}

.center{
  text-align:center;
}
@media ( max-width :931px) {
  .nav {
    display: none;
  }
}

@media ( max-width :783px) {
  .nav {
    display: none;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
}
@media ( max-width :372px) {
  .nav {
    display: none;
  }
  .hid {
    display: none;
  }
  .left {
    float: left;
  }
}